
.color-success {
    color: green;
}

.color-failure {
    color: red;
}

.color-indeterminate-success {
    color: orange;
}

.card {
    outline: solid;
    padding: 4px;
}

.pager-tab {
    outline: 1px solid black;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.pager-tab p {
    margin: 0px;
}

.pager-tab-active {
    outline: 2px solid blue;
}

input {
    margin-bottom: 12px;
}

.thick-border {
    margin: 16px;
    outline: 3px solid black;
}

.header {
    margin: 0px;
    padding: 12px;
    font-size: 1.25em;
}
