
body {
    background: #f0f0f0;
}

.color-good {
    color: green;
}

.filter-good {
    background: #00FF0030 !important; // TODO important overrides some material.io.  How else can I accomplish this?
}

.color-bad {
    color: red;
}

.filter-bad {
    background: #FF000030 !important; // TODO important overrides some material.io.  How else can I accomplish this?
}

.color-indeterminate-success {
    color: orange;
}

.card {
    padding: 4px;
    width: 600px;
    // TODO use columns instead of pixels
}

.flat-card {
    margin-start: 0px;
    margin-end: 0px;
}

.pager-tab {
    outline: 1px solid black;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background: white;
}

.pager-tab-active {
    outline: 2px solid blue;
}

.pager-tab p {
    margin: 0px;
}

input {
    margin-bottom: 12px;
}

#LOG_CONTAINER {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
}

#LOG_RESULT_WRAPPER > div:first-child {
    margin-top: 12px;
}

#LOG_RESULT_WRAPPER > div {
    margin-top: 20px;
}

.thick-border {
    margin: 16px;
    outline: 3px solid black;
}

.header {
    margin: 0px;
    padding: 12px;
    font-size: 1.25em;
    background: white;
}

.description-text {
    font-style: italic;
}

#PAGER_TAB_CONTAINER > .description-text {
    margin-top: 0px;
}
